.header {
    background-color: transparent;
    display: flex;
    justify-content: end;
    padding: 10px 50px;
}

.header-nav {
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
}

.denied-container {
    text-align: center;
}

.denied-container h1 {
    font-size: 4rem;
    color: #dc3545;
}

.denied-container p {
    font-size: 1.5rem;
    color: #6c757d;
}

.denied-container a {
    font-size: 1.2rem;
}


.not-found-container {
    text-align: center;
}

.not-found-container h1 {
    font-size: 4rem;
    color: #dc3545;
}

.not-found-container p {
    font-size: 1.5rem;
    color: #6c757d;
}

.not-found-container a {
    font-size: 1.2rem;
}

.book-card {
    margin-bottom: 20px;
}

.add-book-form {
    margin-bottom: 20px;
}